/* google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
}

/* All styles starts here */

body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.section-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.primary-text{
    color: #727272;
}
.mb-130{
    margin-bottom: 130px;
}
.text-center{
    text-align: center;
}
/* -------------------------------------------
        Header area styles starts here
---------------------------------------------- */
header{
    background: rgba(255, 144, 14, 0.1);
}

.logo-text{
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;
}
.nav-area{
    display: flex;
    justify-content: space-between;
}
/* ---------------------------------------
        Menu Styles Starts here
------------------------------------------ */
.menu-area{
    display: flex;
}
.menu-area li{
    list-style: none;
    margin-right: 70px;
    margin-top: 63px;
}
.menu-area li a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
/* ---------------------------------------
        Banner Styles Starts Here
------------------------------------------ */
.banner-area{
    text-align: center;
    padding: 102px 0 50px 0;
}
.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    margin-top: 33px;
    margin-bottom: 50px;
}
.btn{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    text-decoration: none;
    background: #FF900E;
    border-radius: 8px;
}
.banner-img{
    margin-top: 70px;
}

/* ---------------------------
        Main Section Styles
----------------------------- */

/* ------------------------------------------- 
        Feature Section Styles 
-------------------------------------------- */

/* -------------------------
        Feature List Styles
--------------------------- */
.features-list-area{
    display: flex;
    column-gap: 76px;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 130px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-title{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;
}
.first-title{
    color: #131313;
    font-weight: 700;
}
.second-title{
    color: #FF900E;
    font-weight: 700; 
}
.feature-description{
    color: #727272;
    line-height: 26px;
    margin-bottom: 42px;
}
/* ----------------------------------
        Feature Offer Styles
------------------------------------- */
.features-offer-area{
    display: flex;
    justify-content: space-between;
    gap: 146px;
}
.feature-offer-title{
    padding-left: 21px;
    border-left: 5px solid #FF900E;
}
.offer{
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.offer-title{
    color: #131313;
    margin-bottom: 10px;
}
.experience-area{
    width: 342px;
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #FF900E;
    position: relative;
    left: 640px;
    top: -125px;
}
.experience-title{
    font-size: 65px;
    font-weight: 700;
}
.experience-text{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
/* -------------------------
        Fact Styles
-------------------------- */
.facts-title{
    margin-bottom: 12px;
}
.facts{
    margin-top: 100px;
    margin-bottom: 170px;
    display: flex;
    justify-content: space-around;
}
.fact{
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px 36px 60px;
    border-radius: 8px;
    transition: 1s;
}
.fact:hover{
    border: 1px solid #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
    transform: rotate(360deg);
}
.fact-amount{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}
.fact-description{
    font-size: 20px;
    font-weight: 600;
}
/* --------------------------------
        Galleries Styles
----------------------------------- */
.galleries{
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.gallery img{
    width: 100%;
    border-radius: 8px;
    transition: 0.6s;
}
.gallery img:hover{
    transform: scale(1.1);
    filter: grayscale(1);
}
/* -------------------------------------
        Sponsors Style Starts Here
---------------------------------------- */
.sponsor-description{
    margin-bottom: 50px;
}
.sponsors-area{
    text-align: center;
}
.sponsor-company-logo{
    display: flex;
    justify-content: space-between;
    filter: grayscale(1);
}

/* -------------------------------------
        Footer Styles Starts Here
---------------------------------------- */
footer{
    border-radius: 8px;
    background: #FFF4E7;
}
footer p{
    font-size: 20px;
    text-align: center;
    padding: 38px 0;
}

/* -------------------------
Device Responsive Styles
------------------------- */
@media only screen and (max-width: 576px){
    .container{
        width: 100%;
    }
    .nav-area,.menu-area{
        flex-direction: column;
        align-items: center;
    }
    .banner-title{
        font-size: 48px;
    }
    .banner-description{
        padding: 0 30px;
    }
    .banner-img{
        width: 100%;
    }
    .features-list-area{
        flex-direction: column;
    }
    .feature-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-info{
        padding: 0 30px;
        margin-top: 30px;
    }
    .features-offer-area{
        flex-direction: column;
        padding: 0 30px;
    }
    .feature-offer-img img{
        width: 100%;
    }
    .experience-area{
        height: 168px;
        left: 116px;
        top: -90px;
    }
    .experience-title{
        font-size: 48px;
    }
    .facts-area{
        padding: 30px;
    }
    .facts{
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .fact{
        margin-bottom: 30px;
    }

}