/* google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
}

/* All styles starts here */

body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
}

/* -------------------------------------------
        Header area styles starts here
---------------------------------------------- */
header{
    background: rgba(255, 144, 14, 0.1);
}

.logo-text{
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;
}
.nav-area{
    display: flex;
    justify-content: space-between;
}
/* ---------------------------------------
        Menu Styles Starts here
------------------------------------------ */
.menu-area{
    display: flex;
}
.menu-area li{
    list-style: none;
    margin-right: 70px;
    margin-top: 63px;
}
.menu-area li a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
/* ---------------------------------------
        Banner Styles Starts Here
------------------------------------------ */
.banner-area{
    text-align: center;
    padding: 102px 0 50px 0;
}
.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    margin-top: 33px;
    margin-bottom: 50px;
}
.btn{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    text-decoration: none;
    background: #FF900E;
    border-radius: 8px;
}
.banner-img{
    margin-top: 70px;
}